#stats-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-top: 25px;
}

.stats-items {
    width: 200px;
    height: 200px;
    margin: auto 50px;
    padding: 5px 15px;
    text-align: center;
    color: rgb(27, 79, 55);
    border: solid rgb(27, 79, 55);
    box-shadow: 5px 5px 15px rgb(27, 79, 55);
    background-color: rgb(167, 224, 198, 0.5);
}

.stats-item-digit {
    margin-top: 7px;
    line-height: 125px;
    font-size: 100px;
    border-style: inset;
    box-shadow: 5px 5px 15px rgb(36, 106, 73, 0.5);
    background-color: rgb(255, 255, 255);
}

.stats-item-caption {
    display: block;
    height: fit-content;
    margin-top: 10px;
    font-size: 20px;
    border-style: outset;
    background-color: rgb(63, 185, 129, 0.5);
}
